@model TagHelpers.Models.Employee

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<input asp-for="Name" class="form-control"></input>
    <br />
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })


    <a asp-action="Index">Back to List</a>
    <br/>
    @Html.ActionLink("Back To List", "Index")*@

<br />

<a href="~/Home/index"> Welcome page </a>
<br />

<a asp-action="Index" asp-controller="Home"> Welcome page</a>
























